<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Fables">
    <meta name="author" content="Enterprise Development">
    <link rel="shortcut icon" href="assets/custom/images/shortcut.png">

    <title>Create Blog</title>
    
    <!-- animate.css-->  
    <link href="assets/vendor/animate.css-master/animate.min.css" rel="stylesheet">
    <!-- Load Screen -->
    <link href="assets/vendor/loadscreen/css/spinkit.css" rel="stylesheet">
    <!-- GOOGLE FONT -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
    <!-- Font Awesome 5 -->
    <link href="assets/vendor/fontawesome/css/fontawesome-all.min.css" rel="stylesheet">
    <!-- Fables Icons -->
    <link href="assets/custom/css/fables-icons.css" rel="stylesheet"> 
    <!-- Bootstrap CSS -->
    <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/vendor/bootstrap/css/bootstrap-4-navbar.css" rel="stylesheet">
    <!-- OffCanvasMenu --> 
    <link href="assets/vendor/OffCanvasMenuEffects/css/menu_sideslide.css" rel="stylesheet">
    <!-- OWL CAROUSEL  -->
    <link href="assets/vendor/owlcarousel/owl.carousel.min.css" rel="stylesheet">
    <link href="assets/vendor/owlcarousel/owl.theme.default.min.css" rel="stylesheet">
    <!-- FABLES CUSTOM CSS FILE -->
    <link href="assets/custom/css/custom.css" rel="stylesheet">
    <!-- FABLES CUSTOM CSS RESPONSIVE FILE -->
    <link href="assets/custom/css/custom-responsive.css" rel="stylesheet">
     
</head>


<body>
    <div class="search-section">
        <a class="close-search" href="#"></a>
        <div class="d-flex justify-content-center align-items-center h-100">
            <form method="post" action="#" class="w-50">
                <div class="row">
                    <div class="col-10">
                        <input type="search" value="" class="form-control palce bg-transparent border-0 search-input" placeholder="Search Here ..." /> 
                    </div>
                    <div class="col-2 mt-3">
                         <button type="submit" class="btn bg-transparent text-white"> <i class="fas fa-search"></i> </button>
                    </div>
                </div>
            </form>
        </div>
             
    </div>
    
    <!-- Loading Screen -->
    <div id="ju-loading-screen">
      <div class="sk-double-bounce">
        <div class="sk-child sk-double-bounce1"></div>
        <div class="sk-child sk-double-bounce2"></div>
      </div>
    </div>
     
     
    <!-- /End Top Header -->
    
    <div class="fables-transparent py-3 py-lg-0">
        <div class="container">
               <div class="row">
                   <div class="col-12 col-md-10 pr-md-0">                       
                       <nav class="navbar navbar-expand-md btco-hover-menu py-lg-2">
    
                            <a class="navbar-brand fables-logo-brand pl-0" href="index.html"><img src="assets/custom/images/fables-logo.png" alt="Fables Template" class="fables-logo"></a>
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#fablesNavDropdown" aria-controls="fablesNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="fables-iconmenu-icon text-white font-16"></span>
                            </button>
                            <div class="collapse navbar-collapse" id="fablesNavDropdown"> 
    
                                <ul class="navbar-nav mx-auto fables-nav">   
                                    <li class="nav-item dropdown">
                                        <a class="nav-link" href="./home1.html" id="sub-nav1">
                                            Home
                                        </a>
                                        
                                    </li>
    
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" href="#" id="sub-nav5" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Addict
                                        </a>
                                        <ul class="dropdown-menu" aria-labelledby="sub-nav5">
                                            <li><a class="dropdown-item" href="blog-cat1.html">Drinking</a></li>
                                            <li><a class="dropdown-item" href="blog-cat2.html">Drugs</a></li>
                                            <li><a class="dropdown-item" href="blog-cat2.html">Smoking</a></li>
                                            <li><a class="dropdown-item" href="blog-cat2.html">Gaming</a></li>
                                        </ul>
                                    </li> 
            
                                           
                                    
                                    </li>
                                    <li class="nav-item dropdown">
                                        <a class="nav-link"  href="about1.html"> About</a>
                                       
                                    </li>
                                   
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" href="#" id="sub-nav5" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Blog
                                        </a>
                                        <ul class="dropdown-menu" aria-labelledby="sub-nav5">
                                            <li><a class="dropdown-item" href="create">Create</a></li>
                                            <li><a class="dropdown-item" href="allBlog">ALL Blog</a></li>
                                         
                                        </ul>
                                    </li> 
                                    <li class="nav-item dropdown">
                                        <a class="nav-link" href="./about1.html" id="sub-nav6">
                                            Mood
                                        </a>
                                     
                                    </li> 
                                    <li class="nav-item dropdown">
                                        <a class="nav-link" href="./about1.html" id="sub-nav6">
                                            Ignite
                                        </a>
                                     
                                    </li>
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown" href="contactus1.html" id="sub-nav7">
                                            Contact Us
                                        </a>
                                        
                                    </li>  
                                </ul> 
    
                    </div>
                </nav>
                   </div>
                   <div class="col-5 col-md-2 pr-md-0 icons-header-mobile">
    
                       <div class="fables-header-icons pt-lg-4 text-right">
                            
                            <a href="#" class="open-search fables-third-text-color fables-mega-menu-btn px-4  fables-second-hover-color">
                                        <span class="fables-iconsearch-icon"></span>
                                 </a>
                            
    
    
                       </div>
    
                   </div>
               </div>
        </div>
    </div>
<!-- /End page content -->

<!-- Start Footer 2 Background Image  -->
<div class="fables-footer-image fables-after-overlay white-color py-4 py-lg-5 bg-rules">
    <div class="container">
        <div class="create" style="margin-top: 50px;">
            <form action="./home1" method="POST">
            <label for="image-input" class="custom-file-input">Select an Image</label>
            <input type="file" name="image" id="image-input" accept="image/*" onchange="handleFileSelect(event)" required><br>
            <label for="title">Blog title:</label><br>
            <input type="text" id="title" name="title" required><br>
            <label for="snippet">Blog snippet:</label><br>
            <input type="text" id="snippet" name="snippet" required><br>
            <label for="body">Blog Body:</label><br>
            <textarea id="body" required style="height: 100px;" name="body"></textarea><br>
            <button type="submit">Submit</button><br>
            </form>
        </div>
        
        </div>
</div>
<div class="copyright fables-main-background-color mt-0 border-0 white-color">
        <ul class="nav fables-footer-social-links just-center fables-light-footer-links">
            <li><a href="#" target="_blank"><i class="fab fa-google-plus-square"></i></a></li>
            <li><a href="#" target="_blank"><i class="fab fa-facebook"></i></a></li>
            <li><a href="#" target="_blank"><i class="fab fa-instagram"></i></a></li>
            <li><a href="#" target="_blank"><i class="fab fa-pinterest-square"></i></a></li>
            <li><a href="#" target="_blank"><i class="fab fa-twitter-square"></i></a></li>
            <li><a href="#" target="_blank"><i class="fab fa-linkedin"></i></a></li>
        </ul>
        <p class="mb-0">Copyright © Fables 2018. All rights reserved.</p> 

</div>
    
<!-- /End Footer 2 Background Image -->


<script src="assets/vendor/jquery/jquery-3.3.1.min.js"></script>
<script src="assets/vendor/loadscreen/js/ju-loading-screen.js"></script>
<script src="assets/vendor/jquery-circle-progress/circle-progress.min.js"></script>
<script src="assets/vendor/popper/popper.min.js"></script>
<script src="assets/vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="assets/vendor/bootstrap/js/bootstrap-4-navbar.js"></script>
<script src="assets/vendor/fancybox-master/jquery.fancybox.min.js"></script>
<script src="assets/vendor/WOW-master/dist/wow.min.js"></script>
<script src="assets/vendor/owlcarousel/owl.carousel.min.js"></script> 
<script src="assets/vendor/timeline/jquery.timelify.js"></script> 
<script src="assets/custom/js/custom.js"></script> 
<script>
    function handleFileSelect(event){
        const file = event.target.files[0];
        const reader = new FileReader();

        reader.onload=function(event){
            const image = document.getElementById('selected-image');
            image.src=event.target.result;
        };
        reader.readAsDataURL(file);
    }
</script>
<style>
    .create{
        margin-left: 20vw;
    }
    input[type=file]{
        width: 18vw;
        cursor: pointer;
    }
    input,textarea{
        width: 40vw;
        height: 5vh;
        border-radius: 5px;
    }
    button{
        color: white;
        background-color: red;
        padding: 8px;
        border-radius: 5px;
        cursor: pointer;
        border: none;
        margin-top: 3vh;
        margin-left: 18vw;
    }
    label{
        font-size: 30px;
        font-weight: 200;
        font-family:'Times New Roman', Times, serif;
        color: rgb(34, 34, 34);
    }
</style>
</body>
</html>